<launch>
  <arg name="sim_src" default="false"/>
  <include file="$(find binaural_microphone)/launch/wave_stereo.launch" if="$(arg sim_src)"/>
  <include file="$(find ipem_module)/launch/basic.launch" if="$(arg sim_src)"/>

  <arg name="src" default="false"/>
  <include file="$(find binaural_microphone)/launch/basic.launch" if="$(arg src)"/>
  <include file="$(find ipem_module)/launch/basic.launch" if="$(arg src)"/>

  <arg name='ipem' default="false"/>
  <include file="$(find ipem_module)/launch/basic.launch" if="$(arg ipem)"/>
  

  <node pkg="central_auditory_model" name="MSO_model_v4_1" type="MSO_model_v4_1.py" respawn="true" />
  <node pkg="central_auditory_model" name="LSO_model_v2" type="LSO_model_v2.py" respawn="true" />
  <node pkg="central_auditory_model" name="IC_model_numerical" type="IC_model_numerical.py" respawn="true" />
</launch>
