<launch>
  <arg name="sim_src" default="false"/>
  <include file="$(find binaural_microphone)/launch/wave_stereo.launch" if="$(arg sim_src)"/>
  <include file="$(find ipem_module)/launch/basic.launch" if="$(arg sim_src)"/>

  <arg name="src" default="false"/>
  <include file="$(find binaural_microphone)/launch/basic.launch" if="$(arg src)"/>
  <include file="$(find ipem_module)/launch/basic.launch" if="$(arg src)"/>

  <arg name='ipem' default="false"/>
  <include file="$(find ipem_module)/launch/basic.launch" if="$(arg ipem)"/>

  <arg name='mso' default="true"/>
  <arg name='lso' default="true"/>
  <arg name='ic' default="true"/>
  <arg name='ae' default="true"/>  

  <node pkg="central_auditory_model" name="MSO_model_v5" type="MSO_model_v5.py" respawn="true" if="$(arg mso)" />
  <node pkg="central_auditory_model" name="LSO_model_v2" type="LSO_model_v2.py" respawn="true" if="$(arg lso)" />
  <node pkg="central_auditory_model" name="IC_model_v2" type="IC_model_v2.py" respawn="true" if="$(arg ic)" />
  <node pkg="central_auditory_model" name="angle_estimator" type="angle_estimator.py" respawn="true" if="$(arg ae)" />
</launch>
